* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.content {
  width: 82%;
  margin: 0 auto;
}

/*header areya */

.banner {
  margin-top: 41px;
  background-image: url(image/Banner\ Image.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.banner_2 {
  background-image: url(image/Rectangle\ 15.png);
  background-size: 100%;
}
.banner_titei {
  padding: 146px 282px;
  text-align: center;
}
.banner_titex_descoption {
  font-size: 27px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.banner_titel_text {
  font-size: 60px;
  color: #fff;
  font-weight: 800px;
  font-style: normal;
}

/*main areya styel*/

.section_header {
  text-align: center;
  margin-top: 98px;
}
.sectin_titel {
  font-size: 60px;
  color: #f00;
  font-weight: 700px;
  font-style: normal;
}

.section_des {
  font-size: 20px;
  font-weight: 500;
  color: #f00;
  margin-top: 40px;
}

.titel_areya {
  margin-top: 7px;
  color: #070211;
  font-size: 40px;
}
.section_img img {
  width: 600px;
  height: 410px;
  margin-top: 40px;
}

/* section party styel */
.section_parent {
  background-image: url(image/Vectorrr.png);
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 100px;
}
.child_back_img {
  background-image: url(image/Rectangle\ 15.png);
  display: flex;
  align-items: center;
  background-size: 100%;
}
.section_child_text {
  padding: 0 103px 0 77px;
}
.section_child {
  margin-right: 114px;
  padding: 56px 0;
}
.section_child img {
  width: 262px;
  height: 380px;
}
.section_parent_titel {
  font-size: 52px;
  font-weight: 800px;
  font-style: normal;
  letter-spacing: 6px;
  color: #fff;
}
.child_descoption {
  font-size: 15px;
  font-weight: 400px;
  font-style: normal;
  color: #dddd;
  margin-top: 20px;
}

/*place section styel*/

.place_content {
  text-align: center;
  font-size: 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 82px 0;
  font-weight: 600px;
}
.span_text {
  color: #f00;
}
.join_button {
  padding: 12px 25px;
  border-radius: 8px;
  background-color: #f00;
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 40px;
}
/*best offer section styel*/

.offer_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}
.best_offer {
  color: #f00;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.best_offer_titel {
  color: #070211;
  font-size: 40px;
  font-weight: 700px;
  font-style: normal;
}
.best_offer_descoption {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: rgba(7, 2, 17, 0.6);
  margin-top: 18px;
  line-height: 26px;
}

.offer_titel {
  width: 332px;
}

.offer_titel_2 img {
  width: 295px;
  height: 294px;
  padding: 30px;
  border: 10px solid #f00;
  border-radius: 50%;
}
.offer_titel_3 img {
  width: 115px;
  margin-top: 20px;
}

.offer_titel_3 {
  width: 226px;
}
.offer_titel_text {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  color: #f00;
}

/*holiday section steyel*/

.holiday_section {
  margin-bottom: 100px;
}
.holiday_titel_tex {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #070211;
}
.holiday_header_titel {
  font-size: 58px;
  font-weight: 800px;
  font-style: normal;
}

.holoday_color_text {
  color: #f00;
}
.holiday_titel {
  text-align: center;
  padding: 0 218px;
}
.holiday_descoption {
  font-size: 18px;
  font-weight: 500px;
  color: rgba(7, 2, 17, 0.6);
  line-height: 28px;
  margin-top: 20px;
}

.holiday_img_areya {
  display: flex;
  background-image: url(image/Rectangle\ 1.png);
  align-items: center;
  background-size: 20%;
  background-repeat: no-repeat;
}
.holiday_img {
  width: 351px;
  height: 352px;

  background-size: 100%;
  display: flex;
  align-items: center;
}
.holiday_img img {
  width: 191px;
  margin-right: 100px;
}
.holiday_section_areya_img img {
  width: 400px;
}

/*git areya styel*/

.portfilo_titel_tex {
  color: #f00;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.portfilo_titel {
  color: #070211;
  font-size: 40px;
  font-weight: 700px;
  font-style: normal;
}
.portfilo_descoption {
  font-size: 18px;
  font-weight: 500px;
  color: rgba(7, 2, 17, 0.6);
  line-height: 28px;
  margin-top: 20px;
  width: 775px;
  margin-bottom: 40px;
}
.portfilo_img_areya {
  display: flex;
  justify-content: space-between;
}
.portfilo_img_areya img {
  width: 345px;
}
.portfilo_image {
  margin-bottom: 20px;
}
.our_portfilo {
  margin-bottom: 100px;
}
/*Subscribe areya styel*/

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.05);
  margin-bottom: 100px;
}
.Subscribe_areay {
  text-align: center;
  padding: 65px 182px;
}
.subscribe_titel {
  font-size: 40px;
  font-weight: 800px;
  font-style: normal;
  color: #070211;
  margin-top: 33px;
}
.subscribe_descoption {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  color: rgba(7, 2, 17, 0.6);
  margin-top: 18px;
}
.subscribe_input_areya {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.email_input {
  height: 55px;
  width: 360px;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px 0 0 40px;
  border: none;
  outline: none;
}
.subscribe_button {
  padding: 16px 46px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  border: none;
  font-size: 16px;
}

/*footer areya styel */

footer {
  background-color: #070211;
  padding: 100px 0;
}
.footer_section_titel {
  margin-bottom: 40px;
}
.footer_descoptio {
  font-size: 16px;
  font-weight: 500px;
  font-style: normal;
  color: #fff;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.footer_descoptio img {
  margin-right: 10px;
}
.footer_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_icon_img {
  padding: 40px 0;
  text-align: center;
  border: 0.8px solid rgba(255, 255, 255, 0.15);
  border-right: none;
  border-left: none;
}

.footer_icon_areya img {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}
.footer_descoptio_text {
  font-size: 18px;
  font-weight: 500px;
  font-style: normal;
  color: #fff;
}
.footer_last_titel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
